/* DEFINIMOS TEMPORALEMNTE PALETA DE COLORES, QUITAR ESTA SECCION AL FINAL */
#PALETA_DE_COLORES {
  color: #34495e #3498db #5fbaa7 #f5f7fa #ffffff;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;

  background-color: #c9c3c2;
  color: #000000;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #c9c3c2;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 90px;
  box-shadow: 0 6px 8px rgba(0,0,0, 0.10);
}

#logo
 {
  display: flex;
  height: 55px;
  width: 55px;
  margin: 10px;
}

#logo
 > img {
  width: auto;
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  height: 55px;
  font-size: 1.25rem;
}

nav ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

nav li {
  padding: 1rem 2rem;
}

.lista{
  text-shadow: -0.5px -0.5px 0 rgb(246, 19, 19), 0.5px -0.5px 0 rgb(246, 19, 19), -0.5px 0.5px 0 rgb(246, 19, 19), 0.5px 0.5px 0 rgb(246, 19, 19);
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

nav li:hover {
  background-color: #f5f7fa;
  border-radius: 8px;
}

nav a:hover {
  color: #34343a;
}

.seccion {
  scroll-margin-top:  90px;
  padding: 45px 90px;

  /* tmp: para visualizar secciones */
  height: 100vh;
  border: 1px dashed #34495e;
}

.seccion > h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
  text-shadow: -0.5px -0.5px 0 rgb(246, 19, 19), 0.5px -0.5px 0 rgb(246, 19, 19), -0.5px 0.5px 0 rgb(246, 19, 19), 0.5px 0.5px 0 rgb(246, 19, 19);
  border-bottom: 5px solid black;

}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("../img/Fondo.jpg") no-repeat center center fixed;
  background-size: cover;

  color: white;

  height: 100vh;
}

.home-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #34495e;
  opacity: 0.9;
  padding: 3rem;
}



#btn-ir-arriba {
  display: none;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background: hsl(210, 29%, 29%);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;

  box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
  transition: 300ms ease;
}

#btn-ir-arriba:hover {
  background: hsl(210, 29%, 24%);
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  width: 25px;
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;

}

/* Estilos para la reseña de videojuego */

.large-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 1001;
}

.prueba{
  margin-top: 1rem;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}



.game-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reviewer {
  font-style: italic;
  color: #666;
}

.review-content {
  margin-top: 10px;
  line-height: 1.6;
}

.rating {
  font-size: 18px;
  margin-top: 10px;
}

.rating span {
  color: #ff9800;
}

.game-image {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}

@keyframes rotateRightLeft {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

.game-image:hover {
  animation: rotateRightLeft 1s ease-in-out infinite;
}

/* Eventos */



.carousel-item .container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
  text-align: center;
  margin-top:  1rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
  text-align: center;
  margin-top:  1rem;
}


/* top juegos */

.carousel{
  width: 800px;
  height: 800px;
}
.carousel-caption{
  background-color: #0b0a0a;
  opacity: 0.6;
}
.carousel-text{
  color: white;
  
}

.slide{
  margin-top: 0.5rem;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

